%div.panel.panel-default
  %div.panel-heading
    %dl.dl-horizontal
      %dt Block Hash
      %dd
        = @block['hash']
      %dt Nonce
      %dd= @block['nonce']
      %dt Difficulty
      %dd= @block['difficulty']
      %dt Version
      %dd= @block['version']
      %dt Merkle Root
      %dd= @block['merkleroot']
      - if params[:height]
        %dt Previous Block
        %dd
          %a(href="/blocks/#{params[:height].to_i - 1}")
            = @block['previousblockhash']
        - if @block['nextblockhash']
          %dt Next Block
          %dd
            %a(href="/blocks/#{params[:height].to_i + 1}")
              = @block['nextblockhash']

  %div.panel-body
    %table.table
      %tbody
        %tr
          %th Height
          %th Transactions
          %th DateTime
          %th Size
        %tr
          %td
            =@block['height']
          %td
            =@block['tx'].size
          %td
            =@block['datetime']
          %td
            =as_size(@block['size'])
