%div
  %h2 Recent Blocks
  %table.table-striped.table
    %tbody
      %tr
        %th DateTime
        %th Height
        %th Block Hash
        %th Size
      - @blocks.each do |b|
        %tr
          %td= b['datetime']
          %td
            %a(href="/blocks/#{b['height']}")
              = b['height']
          %td= b['hash']
          %td= as_size(b['size'])
          
%div
  %h2 Search
  
  %form.form-horizontal
    %div.form-group
      %label.control-label.col-lg-2 Transaction ID 
      %div.col-lg-10
        %input.form-control{:type => 'search', :name => 'txid'}

    %div.form-group
      %label.control-label.col-lg-2 Block Hash 
      %div.col-lg-10
        %input.form-control{:type => 'search', :name => 'blockhash'}

    %div.form-group
      %label.control-label.col-lg-2 Block Height
      %div.col-lg-10
        %input.form-control{:type => 'search', :name => 'blockheight'}

    %div.form-group
      %div.col-lg-offset-2.col-lg-10
        %button.btn.btn-default{:type => 'submit'}
          Search
