-if request.path.include?('transaction')
  = partial :block_header, locals: {:block => @block}

%div.panel.panel-default
  %div.panel-heading
    %dl.dl-horizontal
      %dt Transaction ID
      %dd
        %a(href="/transaction/#{@tx['txid']}")
          = @tx['txid']
      %dt Inputs
      %dd= @tx['vin'].size
      %dt Outputs
      %dd= @tx['vout'].size
      %dt Confirmations
      %dd= @tx['confirmations'] || 0
      %dt Total Output Value
      %dd 
        = "%.8f" % @tx['vout'].map {|v| v['value'] }.inject {|sum,v| sum += v.to_f}

  %div.panel-body
    %div#input
      %h4 Input TXIDs
      %ul.list-inline
        - @tx['vin'].each do |vin|
          - if vin['coinbase']
            No inputs (newly generated coins)
          - else
            %li
              %a(href="/transaction/#{vin['txid']}")
                = vin['txid']
    %div#output
      %h4 
        Outputs
      %table.table.table-striped
        %tbody
          %tr
            %th Index
            %th Address
            %th Value
          - @tx['vout'].each do |vout|
            %tr
              %td= vout['n']
              %td
                %ul.list-inline
                  - vout['scriptPubKey']['addresses'].each do |addr|
                    %li= addr
              %td= "%.8f" % vout['value']

  %div.panel-footer
    %a(href="https://blockchain.info/tx/#{@tx['txid']}")
      View Transaction on blockchain.info
